{% extends 'base.html' %}
{% load make_link %}

{% block content %}


<h1>{{ article.pk }}번 글의 Detail </h1>
<b> 제목 : {{ article.title }} </b>
<p> 내용 : {{ article|hashtag_link|safe }}</p>
<p> 작성일시 : {{ article.created_at }} </p>
<p> 수정일시 : {{ article.updated_at }} </p>
<hr>

<br>
<div v-for="com_json in comments" :key="com_json.pk">
  <b>[[ com_json.content ]]</b>
  <p>[[ com_json.created_at ]]</p>
  <button @click="comment_delete(com_json.id)">삭제</button>
  <hr>
</div>
<br>


<input type="text" v-model="content" @keydown.enter="comment_create">
<button @click="comment_create">뷰버튼</button>

{% endblock content %}

{% block java %}
<script>
  const app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app',
    data: {
      content: '',
      comments: {{ comments_json|safe }}
    },
    methods: {
      comment_create: function (e) {
        var postData = {content: this.content,}
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        axios.post(`{% url 'articles:comment' article.pk %}`, postData)
          .then(response => {
            this.content=''
            if (response.data.length != undefined ) {              
              this.comments.unshift(JSON.parse(response.data))
            }
          })        
      },
      
      comment_delete: function (e) {
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        axios.post(`{% url 'articles:comment_delete' 123456 %}`.replace('123456', e))
          .then(response => {
            this.comments = this.comments.filter(content => content.id !== e)
          })
        
      }
    }
  })
</script>
{% endblock java %}
