{% extends 'base.html' %}

{% block content %}
  
  <h1 class="text-center">뷰 테스트</h1>

  <a href="{% url 'articles:create_article' %}">글생성</a>
  <hr>

  
  <div v-for="article in vue_articles">
    <a :href="url" @click="mouseIn(article.id)">[[ article.title ]]</a><br>
    <a href="/articles/{ hashtag.pk }/hashtag/" v-for="hashtag in article.hashtags">[[ hashtag|capitalize ]]</a>
    <hr>
  </div>
  
{% endblock content %}

{% block java %} 
  <script>
    const app = new Vue({
      el: '#app',
      delimiters: ["[[", "]]"],
      data: {      
        vue_articles: articleStorage.fetch(),
        url: '',
        search: '',
        search_list: [],
      },
      methods: {
        mouseIn: function(e) {
          this.url = `{% url 'articles:detail' 123456 %}`.replace('123456', e)
        },        
        article_filter: function(letter) {  
        
          if (searchStorage.fetch().content === '#') {
            this.search = ''
            this.search_list = []
            this.vue_articles = articleStorage.fetch()
            return
          }
          else if (this.search_list.length !== 1) {
            this.search = ''
            this.search_list = []
            return
          }
          this.vue_articles= articleStorage.fetch().filter(articles => articles.hashtags.some(hashtag => this.search_list[0].id))
          this.search = ''
          this.search_list = []
        },
      },
      filters: {
        capitalize: id => {
          if (id.length === 0) return
          return hashtagStorage.fetch().filter(item => item.id != id)[0].content
          }
      },
    })
  </script>
{% endblock java %}
