<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
  <div id="nav" class="container">
  <div class="col-3">
    <input width="50px" @input="onInput" @keydown.enter="click_search_list" type="text" v-model="search">
    <input class="mb-2" type="button" value="검색">
    <br>
    <div class="border" v-if="search_list.length">
      <div 
        v-for="search_item in search_list"
        :class="search_item.detect"
        v-on:mouseover="changebgcolor(search_item)"
        v-on:mouseout="originalcolor(search_item)"
        @click="click_search_list(search_item)"
        style="cursor:pointer">
        [[ search_item.content ]]
      </div>
    </div>
  </div>    
  </div>
  <div class="container" id="app">
  {% block content %}
  
  {% endblock content %}
  </div>
  
  

  
  <script>
    const STORAGE_KEY = 'vue-article'
    const STORAGE_KEY2 = 'vue-hashtag'
    const STORAGE_KEY3 = 'vue-search'
    const searchStorage = {
      fetch: function () {
        return localStorage.getItem(STORAGE_KEY3)
      },
      save: function (search_list) {
        localStorage.setItem(STORAGE_KEY3, JSON.stringify(search_list))
      }
    }
    const articleStorage = {
      fetch: function () {
        return JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
      },
      save: function (articles) {
        localStorage.setItem(STORAGE_KEY, articles)
      }
    }
    const hashtagStorage = {
      fetch: function () {
        return JSON.parse(localStorage.getItem(STORAGE_KEY2) || '[]')
      },
      save: function (hashtag) {
        localStorage.setItem(STORAGE_KEY2, hashtag)
      }
    }
    const baseApp = new Vue({
      delimiters: ["[[", "]]"],
      el: '#nav',
      data: {
        search: '',
        search_list: [],
        hashtags: [],      
      },
      mounted: function () {
        localStorage.removeItem(STORAGE_KEY3)
        axios.get('{% url "articles:hashtag_list" %}')
          .then(res =>{
            hashtagStorage.save(res.data.hashtags)
            articleStorage.save(res.data.articles)
          })
        this.hashtags = hashtagStorage.fetch()
        this.vue_articles = articleStorage.fetch()
      },
      methods:{
        onInput: function(e) {
          if (!this.search) return this.search_list = []
          this.search_list= hashtagStorage.fetch().filter(search_hashtag => search_hashtag.content.startsWith(this.search))
        },
        click_search_list: function(click_search) {
          searchStorage.save(click_search)
          console.log(searchStorage.fetch())
           
          this.search = click_search.content
          this.search_list=hashtagStorage.fetch().filter(search_hashtag => search_hashtag.content.startsWith(this.search))
          if ('{{ request.resolver_match.url_name }}' === 'index') {
            app.article_filter()
            console.log(app.vue_articles)
            console.log(11)
          }          
        },
        changebgcolor: function(SI) {
          SI.detect = "alert alert-primary"          
        },
        originalcolor: function(SI) {
          SI.detect = "alert alert-light"
        }
      }
    })
  </script>
  {% block java %}
  
  {% endblock java %}
</body>
</html>
